<div>
  <div style='width: 600px;margin:auto'>
    <img  style='width: 600px' src="https://www.udiscovermusic.com/wp-content/uploads/2019/09/Best-Music-Podcasts-featured-image-1000.jpg">
  </div>
  <h1 align="center">Welcome to the //Rails Music App!</h1>
</div>